.upper-bg-enter {
  opacity: 0;
}

.upper-bg-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.upper-bg-exit {
  opacity: 1;
}

.upper-bg-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}
