.upper-bg-enter {
  opacity: 0;
}

.upper-bg-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in-out;
}

.page-before {
  opacity: 0;
}

.page-appear {
  opacity: 1;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.page-enter-done {
  opacity: 1;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}

.page-exit-done {
  opacity: 0;
}

.filter-appear {
  opacity: 0.6;
}

.filter-enter {
  opacity: 0;
}

.filter-enter-active {
  opacity: 0.6;
  transition: opacity 600ms ease-in-out;
}

.filter-enter-done {
  opacity: 0.6;
}

.filter-exit {
  opacity: 0.6;
}

.filter-exit-active {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}

.filter-exit-done {
  opacity: 0;
}

.scroll-indicator span {
  animation: scroll-indicator-animation 2.2s infinite;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  transform: rotate(-45deg);
  opacity: 0;
  position: absolute;
}
.scroll-indicator span:nth-of-type(1) {
  animation-delay: 0s;
}
.scroll-indicator span:nth-of-type(2) {
  margin-top: 10px;
  animation-delay: 0.1s;
}
.scroll-indicator span:nth-of-type(3) {
  margin-top: 20px;
  animation-delay: 0.2s;
}
@keyframes scroll-indicator-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
